<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="UI_Tests.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <UI_Tests.Properties.Settings>
            <setting name="Host" serializeAs="String">
                <value>localhost</value>
            </setting>
            <setting name="BrowserName" serializeAs="String">
                <value>Chrome</value>
            </setting>
            <setting name="BaseUrl" serializeAs="String">
                <value>http://automation.jameshearn.com/</value>
            </setting>
            <setting name="Version" serializeAs="String">
                <value>Latest</value>
            </setting>
            <setting name="Table" serializeAs="String">
                <value>Testing</value>
            </setting>
        </UI_Tests.Properties.Settings>
    </userSettings>
</configuration>